<div class="container mat-elevation-z8">

<h2>Ordem De Serviço</h2>

<form class="form" name="myForm">

    <!-- ATENDENTE -->
    
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Atendente</mat-label>
      <mat-icon matSuffix>call</mat-icon>
      <mat-select required="true" name="atendente" [(ngModel)]= "ordem.atendente">
        <mat-option *ngFor="let atendente of atendentes" [value]="atendente">
          {{ atendente.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Situação</mat-label>
      <mat-icon matSuffix>warning</mat-icon>
      <mat-select name="situacaoOrdem" [(ngModel)]= "ordem.situacaoOrdem">
        <mat-option *ngFor="let situacaoOrdem of situacoes" [value]="situacaoOrdem">
          {{ situacaoOrdem.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Cliente</mat-label>
      <mat-select name="cliente" [(ngModel)]= "ordem.cliente">
        <mat-option *ngFor="let cliente of clientes" [value]="cliente">
          {{ cliente.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Tecnico</mat-label>
      <mat-icon matSuffix>engineering</mat-icon>
      <mat-select name="tecnico" [(ngModel)]= "ordem.tecnico">
        <mat-option *ngFor="let tecnico of tecnicos" [value]="tecnico">
          {{ tecnico.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section-title">Serviços Prestados</div>
     <!-- Servico Select -->
     <mat-form-field>
      <mat-label class="mat-selected-label">Selecionar Serviço<mat-icon matSuffix>build</mat-icon></mat-label>
      <mat-select name="selectedServicoId" [(ngModel)]="selectedServicoId" multiple
      (selectionChange)="onServicoSelectionChange($event)">
        <mat-option *ngFor="let ser of servs" [value]="ser">{{ser.descricao}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="section-title">Peças Utilizadas</div>
    <!-- Produto Select -->
    <mat-form-field>
      <mat-label class="mat-selected-label">Selecionar Peça<mat-icon matSuffix>inventory_2</mat-icon></mat-label>
      <mat-select name="selectedProdutoId"  [(ngModel)]="selectedProdutoId" multiple 
      (selectionChange)="onProdutoSelectionChange($event)">
        <mat-option *ngFor="let prod of prods" [value]="prod">{{prod.descricao}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section-title">Informaçoes Complementares</div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label  >Observações da OS</mat-label>
      <textarea class="campos-textos" [(ngModel)]="ordem.observacoes" name="observacoes" matInput placeholder="">
      </textarea>
    </mat-form-field>

    <div class="section-title"></div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Total Serviços:</mat-label>
      <input disabled="true" matInput [value]="ordem.SubTotalServico | currency:'BRL':'symbol':'1.2-2'" class="color-disabled-black">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Total Produtos:</mat-label>
      <input disabled="true" matInput [value]="ordem.SubTotalProduto | currency:'BRL':'symbol':'1.2-2'" class="color-disabled-black">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Total OS:</mat-label>
      <input disabled="true" matInput [value]="calcularValorTotalOrdem() | currency:'BRL':'symbol':'1.2-2'" class="color-disabled-black">
    </mat-form-field>
    
</form>

<div class="button-container">
  <button type="submit" (click)="save()" mat-raised-button color="primary">Salvar</button>
  <div class="loading-container" *ngIf="isServiceLoading">
    <mat-spinner></mat-spinner>
    <p>Salvando Ordem De Serviço. Aguarde...</p>
  </div>
  <button (click)="cancelar()"  mat-raised-button color="primary">Cancelar</button>
</div>

</div>

<!-- Button to trigger the total calculation 
<button type="button" (click)="calculateTotal()" mat-raised-button color="primary">Calcular Total</button>
<p>Total da Ordem de Serviço: {{ ordem.valorTotalOrdem | currency:'BRL':'symbol':'1.2-2' }}</p> -->