<div class="container mat-elevation-z8">
  <h2>Ordem De Serviço, Numero: {{ordem.id}}</h2>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label class="color-disabled-black">Data Entrada:</mat-label>
    <input disabled="true" matInput value="{{ordem.dataDoServico}}" class="color-disabled-black">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label class="color-disabled-black">Data Encerramento:</mat-label>
    <input disabled="true" matInput value="{{ordem.dataFechamento}}" class="color-disabled-black">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label class="color-disabled-black">Status da OS</mat-label>
    <input disabled="true" matInput value="{{ordem.statusOrdemServico.nome}}" class="color-disabled-black">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label class="color-disabled-black">Protocolo De Serviço</mat-label>
    <input disabled="true" matInput value="{{ordem.protocolo}}" class="color-disabled-black">
  </mat-form-field>

  <form class="form">

    <!-- General Information -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Atendente</mat-label>
      <input disabled="true" matInput value="{{ordem.atendente.nome}}" class="color-disabled-black">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Situação</mat-label>
      <input disabled="true" matInput value="{{ordem.situacaoOrdem.nome}}" class="color-disabled-black">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Cliente</mat-label>
      <input disabled="true" matInput value="{{ordem.cliente.nome}}" class="color-disabled-black">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Tecnico</mat-label>
      <input disabled="true" matInput value="{{ordem.tecnico.nome}}" class="color-disabled-black">
    </mat-form-field>

    <div class="section-title">Serviços Prestados</div>
 
        <!-- Display Services -->
        <div *ngFor="let servico of ordem.servicos">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="color-disabled-black">Descrição do Serviço</mat-label>
            <input disabled="true" matInput value="{{ servico.descricao }}" class="color-disabled-black">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label class="color-disabled-black">Preço</mat-label>
            <input disabled="true" matInput value="{{ servico.preco }}" class="color-disabled-black">
          </mat-form-field>
   
    </div>

  
    <div class="section-title">Peças Utilizadas</div>
    <div *ngFor="let produto of ordem.produtos">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label class="color-disabled-black">Descrição do Produto</mat-label>
        <input disabled="true" matInput value="{{ produto.descricao }}" class="color-disabled-black">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label class="color-disabled-black">Preço</mat-label>
        <input disabled="true" matInput value="{{ produto.preco }}" class="color-disabled-black">
      </mat-form-field>
    </div>

    <div class="section-title">Informações Complementares</div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label class="color-disabled-black">Observações</mat-label>
      <textarea disabled="true" class="campos-textos color-disabled-black" [(ngModel)]="ordem.observacoes"
        name="observacoes" matInput placeholder=""></textarea>
    </mat-form-field>
    
  </form>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label class="color-disabled-black">Total Ordem de Serviço:</mat-label>
    <input disabled="true" matInput [value]="ordem.valorTotalOrdem | currency:'BRL':'symbol':'1.2-2'"
      class="color-disabled-black">
  </mat-form-field>

  <div class="button-container">
    <button (click)="voltar()" mat-raised-button color="primary">
      <span>Voltar</span>
      <img src="assets/icons/back.png">
    </button>

    <button (click)="openConfirmationDialogFinalizaOs()" mat-raised-button color="primary">
      <span>Finalizar OS</span>
      <img src="assets/icons/complete.png">
    </button>
    <div class="loading-container" *ngIf="isServiceLoading">
      <mat-spinner></mat-spinner>
      <p>Finalizando Ordem De Serviço. Aguarde...</p>
    </div>

    <button (click)="replica()" mat-raised-button color="primary">
      <span>Replica</span>
      <img src="assets/icons/copy.png">
    </button>
  </div>

</div>
