/* Estilize o mat-card para torná-lo maior e destacado */
.mat-card {
  width: 80%; /* Defina a largura desejada */
  margin: 0 auto; /* Centralize horizontalmente */
  padding: 20px; /* Adicione um espaçamento interno */
  background-color: #f5f5f5; /* Cor de fundo do card */
  border: 1px solid #ccc; /* Adicione uma borda */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adicione uma sombra */
}

/* Estilize os parágrafos dentro do mat-card para destacá-los */
.mat-card p {
  font-weight: bold; /* Deixa o texto em negrito */
  margin-bottom: 10px; /* Adicione espaçamento inferior entre os parágrafos */
}

/* Estilize os botões */
.custom-button {
  margin: 20px auto; /* Adiciona margem ao redor do botão e alinha-o ao centro horizontalmente */
  display: block; /* Para centralizar o botão horizontalmente no container */
  margin-left: 97px;
}


