<mat-card>
    <mat-card-title>Dados Do Fornecedor</mat-card-title>
   
    <div class="info-container">

        <div class="info-item">
          <p>ID: {{ fornecedor.id }}</p>
        </div>
    
        <div class="info-item">
          <p>Nome: {{ fornecedor.nome }}</p>
        </div>
    
        <div class="info-item">
          <p>Municipio: {{ fornecedor.municipio }}</p>
        </div>
        
     
      <div class="info-item">
        <p>UF: {{ fornecedor.uf }}</p>
      </div>

      <div class="info-item">
        <p>CNPJ: {{ fornecedor.cnpj }}</p>
      </div>



    </div>

    </mat-card>
  
    <button (click)="fechar()" class="custom-button" mat-raised-button color="">Fechar</button>
    
