/* Estilos para o container principal */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

/* Estilos para os cartões de usuário */
.usuarioCard {
  cursor: pointer;
  width: 300px;
  margin: 0 10px;
}

.usuarioCard:hover {
  transform: translateY(-5px);
}

/* Estilos para os cartões de material */
.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Estilos para o avatar e ícone */
.avatar-background {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 50%;
}

.avatar-icon {
  font-size: 40px;
  color: #007bff;
}

/* Estilos para o título e subtítulo */
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.card-subtitle {
  font-size: 14px;
  color: #757575;
  text-align: center;
}

/* Estilos para o conteúdo centralizado */
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o contador */
.client-count {
  font-size: 36px;
  font-weight: bold;
  color: #007bff; /* Cor azul para o contador */
}

