<mat-card class="card class mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title>G SISTEMAS</mat-card-title>
      <mat-card-subtitle>@gsistemass</mat-card-subtitle>
    </mat-card-header>
    <h3>Bem-vindo ao G sistemas!

      É um prazer receber você em nossa plataforma. Aqui, você encontrará soluções inovadoras e eficientes para todas as suas necessidades de sistema. Estamos comprometidos em oferecer a você a melhor experiência e suporte, garantindo que sua jornada conosco seja produtiva e gratificante.
      
      Nossa equipe está à disposição para ajudar e orientar você em cada etapa do processo. Não hesite em entrar em contato conosco sempre que precisar de assistência ou tiver alguma dúvida.
      
      Estamos empolgados para começar esta jornada com você e estamos ansiosos para ver como nossos sistemas podem ajudar a impulsionar o seu sucesso. Obrigado por escolher o G sistemas como seu parceiro tecnológico.
  
      Saudações,
      A equipe do G sistemas
      </h3>
  </mat-card>
