<div class="usuarioCard">
  <mat-card class="card class mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title>
        <mat-icon>person_outline</mat-icon> Meus Dados
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>NOME: {{ usuario.nome || 'ADMINISTRADOR' }}</p>
      <p>EMAIL: {{ usuario.email || 'adm@gmail.com' }}</p>
    </mat-card-content>
    
  </mat-card>

  
</div>

